<% include partials/header %>

<div class="container my-5">
    <h1>Hello, <%= user.username %></h1>
    <% therapy.forEach(function(item) { %>
        <%= item.name %>
        <%= item.address %>
    <% }) %>
</div>

<% include partials/footer %>