<% include partials/header %>

<div class="container">
    <h1 class="display-1">Thera<span class="text-warning">Find</span></h1>

    <div class="alert alert-primary" role="alert">
        You have been invited to register for TheraFind - a database that will soon be connecting parents and caregivers to the resources they never knew they had.
    </div>

    <h4>Login Information</h4>
    <form action="/register" method="POST">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" placeholder="Username" name="username" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<% include partials/footer %>