<% include partials/header %>

<div class="container">
    <% if(!currentUser) { %>
        <h1 class="display-1 my-4">Thera<span class="text-warning">Find</span></h1>
    
        <div class="jumbotron">
            <h1 class="display-4">You're invited!</h1>
            <p class="lead">
                Register for TheraFind, a therapeutic database that will soon be connecting parents 
                with the resources around them that they never knew they had.
            </p>
            <hr class="my-4">
            <a href="/register" class="btn btn-success btn-lg" role="button">Register</a>
            <a href="/login" class="btn btn-link btn-lg" role="button">Login</a>
        </div>
    <% } else { %>
        <h1 class="display-1">Thera<span class="text-warning">Find</span></h1>
        <hr class="my-4">
        <h1>Hello, <%= currentUser.username %>!</h1>
        <p>Soon this will turn into an administrative dashboard for you.</p>
        <p>Right now you can <a href="#">Edit</a> your information if you made a mistake or need to change anything</p>
    <% } %>
</div>

<% include partials/footer %>