<% include partials/header %>

<div class="container">
    <h1 class="display-1">Thera<span class="text-warning">Find</span></h1>
    <hr class="my-4">

    <p class='lead text-center my-5'>
        TheraFind is all about connecting parents and caregivers with the resources
        they never knew were available to them. Sometimes, when your child is diagnosed,
        things can be overwhemling. TheraFind's goal is to ease that stress.
    </p>


    <% if(!currentUser) { %>

        <div class="jumbotron">
            <h1 class="display-4">You're invited!</h1>
            <p class="lead">
                Register for TheraFind, a therapeutic database that will soon be connecting parents 
                with the resources around them that they never knew they had.
            </p>
            <hr class="my-4">
            <a href="/register" class="btn btn-success btn-lg" role="button">Register</a>
            <a href="/login" class="btn btn-link btn-lg" role="button">Login</a>
        </div>

    <% } else { %>

        You're already logged in. Go to your <a href="/profile/<%= currentUser._id %>">Dashboard</a>
    
    <% } %>
</div>

<% include partials/footer %>