<% include partials/header %>

<div class="container">
    <ul>
        <% therapies.forEach(function(therapy) { %>
            <li><%= therapy.name %></li>
        <% }); %>
    </ul>
</div>

<% include partials/footer %>